.store-top-nav {
  background-color: #222f3e;
}

.store-bot-nav {
  background-color: #222f3e;
  margin-bottom: 1rem;
}

.nav-search {
  width: 30%;
}

.nav-search-form {
  width: 80%;
}

.nav-search-input {
  width: 80%;
}




