.shelf-header {
  margin-top: 10px;
  margin-left: -15px;
  font-size: 25px;
  font-weight: bold;
  color: #3a3a3a;
}

.btn-shelf-carousel {
  //height: 270px;
  //height: 15vw;
  vertical-align: middle;
  width: 3%;
  margin-top: 8px;
  margin-bottom: 8px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.05);
  color: #222f3e;
  border: none;
  font-weight: bold;
  font-size: 20px;
}

.btn-shelf-carousel:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

.btn-shelf-carousel-left {
  margin-right: -3%;
  //padding-right: 20px;
}

.btn-shelf-carousel-right {
  margin-left: -3%;
}
