<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <button class="btn-secondary btn-shelf-carousel">Prev</button>
        </div>
        <div class="col-lg-2">
            <app-store-item></app-store-item>
        </div>
        <div class="col-lg-2">
            <app-store-item></app-store-item>
        </div>
        <div class="col-lg-2">
            <app-store-item></app-store-item>
        </div>
        <div class="col-lg-2">
            <app-store-item></app-store-item>
        </div>
        <div class="col-lg-2">
            <app-store-item></app-store-item>
        </div>
        <div class="col-lg-1">
            <button class="btn-secondary btn-shelf-carousel">Next</button>
        </div>
    </div>
</div>
