<a href="/item" class="card store-item">
<!--    <div class="card store-item">-->
        <!--    <div class="card-header">Featured</div>-->
        <img class="card-img-top" src="{{item.image}}" alt="{{item.description}}">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{item.price}}</h6>
            <!--        <div class="card-text">Harry Potter first book</div>-->
            <!--        <a href="#" class="btn btn-primary">Add to </a>-->
        </div>
        <div class="card-footer text-muted text-center">
            {{item.rating.stars}}
        </div>
<!--    </div>-->
</a>
