<div class="container-fluid pl-5 pr-5">
    <div class="item-exploded-title">Sherlock Holmes</div>
    <div class="row">
        <div class="col-lg-4 item-exploded-img">
            <img src="/assets/img/holmes.jpg">
        </div>
        <div class="col-lg-6 item-exploded-description">
            <div class="card">
                <h3 class="card-header">Sherlock Holmes</h3>
                <div class="card-body">
                    <div class="card-title text-muted">by <b>Sir Arthur Conan Doyle</b></div>
                    <p class="card-text">Sherlock Holmes is a fictional private detective created by British author Sir Arthur Conan Doyle.
                        Referring to himself as a "consulting detective" in the stories, Holmes is known for his proficiency with observation,
                        deduction, forensic science, and logical reasoning that borders on the fantastic, which he employs when investigating
                        cases for a wide variety of clients, including Scotland Yard.</p>
                    <h6 class="card-title">Rating: 5 Stars</h6>
                    <h6 class="card-title">Published by: Cambridge press</h6>
                    <h6 class="card-title mb-2 text-muted">Someone famous once said this about the book </h6>

                    <div>
                        <span class="badge badge-secondary mr-1">Fiction</span>
                        <span class="badge badge-secondary mr-1">Crime</span>
                        <span class="badge badge-secondary mr-1">Crime Fiction</span>
                    </div>
                </div>
            </div>

            <div class="card mt-3">
                <h5 class="card-header text-muted">Sir Arthur Conan Doyle</h5>
                <div class="card-body">
                    <p class="card-text">Sir Arthur Ignatius Conan Doyle (22 May 1859 – 7 July 1930) was a British writer and medical doctor.
                        He created the character Sherlock Holmes in 1887 when he published A Study in Scarlet, the first of four novels and
                        fifty six short stories about Holmes and Dr. Watson. The Sherlock Holmes stories are generally considered milestones
                        in the field of crime fiction.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 item-exploded-actions">
            <div class="card">
                <h5 class="card-header">
                    Rs. 1000.00
                </h5>
                <div class="card-body">
                    <h6 class="card-subtitle mb-2">Deliver it by this Saturday</h6>
                    <p class="card-text text-muted">Delivery fee of Rs. 100.00 applicable</p>
                </div>
                <button class="btn btn-primary item-actions-buttons">Add to Basket</button>
                <button class="btn btn-primary item-actions-buttons">Buy Now</button>
                <button class="btn btn-secondary item-actions-buttons">Add to Wishlist</button>
                <div class="card-footer text-muted">
                    Deliver it to No.33, Colombo road, Negombo
                </div>
            </div>
        </div>
    </div>
</div>

