.catalog {
  border-right: 1px solid #b9b9b9;
}

.catalog-title {
  font-size: 20px;
  font-weight: bold;
}

.catalog-facet-type {
  font-size: 18px;
  font-weight: bold;
}

.catalog-facet-value {
  font-size: 16px;
}
